#red {color: red;}
#blue {color: skyblue;}
#orange {color: orange;}
#green {color: Green;}
#yellow {color: yellow;}
.color-title {font-weight: 400}
h2 {font-weight: 700;}
h1 {font-weight: bold;}
img {height: 200px; width: 200px;}
* {background-color: antiquewhite;}


